<div id= "<%= dom_id post %>">
    <div class= "post-author">
        <div class= "avatar avatar-<%= rand(1..27) %>"></div>
        <div><%= post.user.username %></div>
    </div>
    <div class= "post-body">
        <span> <%= post.body %></span>
    </div> 
    
    <%= turbo_frame_tag "post-likes" do %>
        <% if current_user && (like = Like.find_by(user_id: current_user.id, likeable: post, liked: true)) %>
            <%= button_to "", post_like_path(post, likeable_id: post.id, likeable_type: 'Post', user: current_user), class: "post-actions-unlike", method: :delete %>
            <%# Delete like %>
        <% else %>
            <%= button_to "", post_likes_path(post), class: "post-actions-like" %>
            <%# Add like %>
        <% end %>
    <% end %>
    
    <%= render "comments/form", post: post %>
    
    <div id="comments">
        <%= turbo_frame_tag "comments_for_post_#{post.id}" do %>
            <%= render post.comments %>
        <% end %>
    </div>

    <%# LONG HAND %>
    <%# <%= render partial: "comments/comment", collection: post.comments %>
    <%# SHORT HAND %>
    <%# <%= "post/comments", post: post %> 
</div>    



