<div id= "<%= dom_id post %>">
    <div class= "post-author">
        <div class= "avatar avatar-<%= rand(1..27) %>"></div>
        <div><%= post.user.username %></div>
    </div>
    <div class= "post-body">
        <span> <%= post.body %></span>
    </div> 
    
    <%= turbo_frame_tag "post-likes" do %>
         <%= button_to "", post_likes_path(post), class: "post-actions-like" %>
    <% end %> 
    <%= render "comments/form", post: post %>
    
    <div id ="comments">
     <%= render post.comments %>
    </div> 

    <%# LONG HAND %>
    <%# <%= render partial: "comments/comment", collection: post.comments %>
    <%# SHORT HAND %>
    <%# <%= "post/comments", post: post %> 
</div>    



