<!DOCTYPE html>
<html>
  <head>
    <title>Instaclone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# <link rel="stylesheet" href="https://cdn.simplecss.org/simple-v1.css"> %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="nav"> 
        <% if user_signed_in? %>
        <div id="home">
          <%= link_to "Home", root_path %>
        </div>  
        <div id="access">
          <%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete}  %>
        </div>  
        <% else %>
          <%= link_to "Sign In", new_user_session_path  %>
        <% end %>
    </div>
    <div class="main">
    <% if user_signed_in? %>
        <%= turbo_frame_tag "post-form" do %>
          <%= link_to "New post", new_post_path %>
        <% end %>
      <% end%>  
      <%= yield %>
    </div>  
  </body>
</html>
